:root {
    --whitebabcia: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

body, html {
    width: 100dvw;
    height: 100dvh;
    overflow-x: hidden;
}

h1, h1 * {
    font-size: 48px;
}

h2, h2 * {
    font-size: 32px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.center, .musicroom.center .cenrow .center.tcenter .row section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tcenter {
    text-align: center;
}

.cenrow {
    max-width: 60%;
    min-width: 60%;
}

@media (max-width: 800px) {
    .cenrow {
        min-width: 100%;
        max-width: 100%;
    }
}

p, h1, .section-head, h2, small {
    margin-bottom: 10px;
}

a {
    transition: 0.25s;
}

a:hover {
    transition: 0.25s;
    color: #00ff00;
}

hr {
    display: block;
    border: none;
    height: 20px;
    margin: 25px 0;
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 20" xmlns="http://www.w3.org/2000/svg"><path d="M0 10 Q 25 0 50 10 T 100 10" fill="transparent" stroke="lime" stroke-width="2"/></svg>') repeat-x;
    width: 100%;
}

ul, ol {
    margin-left: 30px;
}

li {
    margin-bottom: 10px;
}

small, small * {
    font-size: 13px;
    display: block;
}

.snowflake {
    position: fixed;
    color: white;
    font-size: 14px;
    pointer-events: none;
    user-select: none;
    animation: fall 0.5s linear forwards;
    text-shadow: 2px 2px 2px black;
    z-index: 10000;
}

@keyframes fall {
    to {
        transform: translateY(20px) rotate(360deg);
        opacity: 0;
    }
}

.if-not-target-hide:not(:target) {
    display: none;
}