@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");

:root {
    --bg: #0c0c0c;
    --accent: #252525;
    --fg: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* default font settings */
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    color: var(--fg);
}

body {
    background: var(--bg);
    width: 100dvw;
    height: 100dvh;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
}

main .left, main .right {
    padding: 10px;
    height: 100%;
}

main .left {
    min-width: 300px;
    max-width: 300px;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .right {
    flex-grow: 1;
}

main .left summary {
    user-select: none;
}

main .left details p.channel {
    margin-left: 5px;
}

main .left details details {
    margin-left: 15px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 60px;
}

main .right .tab.active {
    display: flex;
    flex-direction: column;
    gap: 10px;  
    height: 100%;
}

.tab:not(.active) {
    display: none;
}

details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.channel {
    transition: 0.25s;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.channel:hover {
    background-color: var(--accent);
    transition: 0.25s;
}

.topbar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: var(--accent);
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

.messages {
    flex-grow: 1;
}

.writer {
    padding: 5px;
    background-color: var(--accent);
    border-radius: 5px;
    height: fit-content;
}

textarea {
    outline: none;
    border: none;
    width: 100%;
    resize: none;
    background-color: transparent;
    height: 26px;
    overflow: hidden;
}

::placeholder {
    color: var(--fg);
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.message div.row {
    padding: 5px;
    border-radius: 5px;
}

.message div.row:hover {
    background-color: var(--accent);
}

.message div.row div:first-child img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.message p:first-child b {
    font-size: 16px;
}